body {
   margin: 0;
}



.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 2rem;
}


#home {
    
    height: 500px;
    
}

#education {
    
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#about-me {
   
    height: 250px;
}

#footer {
   
    padding: .5px;
}

img {
    border-radius: 10%;
    height: 180px;
    width: 250px;
}

.edu-table {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width: 600px;
    height: 500px;
    text-align: left;
    margin-left: 75px;
}

.bt {
    border-top: 2px solid black;
}

.bb {
    border-bottom: 2px solid black;
}

.br {
    border-right: 2px solid black;
}

.bl {
    border-left: 2px solid black;
}

.border-rad {
    border-radius: 10%;
}

.eh1 {
    grid-column: span 2;
    text-align: center;

}


.ulnavbr {
    position: fixed;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    text-align: right;
}

.navbr {
    display: inline-block;
    padding: 10px;
}

.navbr a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.navbr:hover {
    background-color:deepskyblue;
}

.courses {
    list-style: none;
}



#about-me > div {
    width: 50%;
}

.ab {
    text-align: center;
}

#footer p {
    display: inline-block;
}

.pr {
    float: right;
}

@media (max-width: 748px) {
    .navbr {
        display: block;
        width: fit-content;
        font-size: x-small;
    }

    #home {
        display: block;
        text-align: center;
        height: 50vh;
        
    }

    #education {
        display: block;
        height: 150vh;
        padding-top: 10px;
    }

    img {
        height: 150px;
        width: 200px;
    }

    .edu-table {
        width: 50%;
        height: 30%;
        margin-top: 50px;
        margin-bottom: 100px;
        padding-left: 8%;
    }

    #about-me {
        height: 400px;
        margin-bottom: 50px;
    }

    .profile-pic {
        margin-top: 50px;
    }
}


.gradient-background {
    background: linear-gradient(280deg, #FFC82D , #0051BA, #E8000D, #85898A);
    background-size: 180% 180%;
    animation: gradient-animation 20s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }