body {
   margin: 0;
}

hr {
    border: double;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    gap: 2rem;
}


#home {
    
    height: 500px;
    
}

#education {
    height: 500px;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
}

#about-me {
   
    height: 250px;
}

#footer {
   
    height: 200px;
}

.profile-pic {
    border-radius: 10%;
    height: 180px;
    width: 250px;
}

.school-logo {
    border-radius: 10%;
    height: 70px;;
    display: inline-block
}

.edu-table {
    display: inline;
    width: 400px;
    height: 500px;
    text-align: left;
    margin-left: 75px;
}



.eh1 {
    text-align: center;
    margin-top: 200px;
    margin-bottom: 100px;

}

.courses {
    list-style: none;
}



#about-me > div {
    width: 50%;
}

.ab {
    text-align: center;
    margin-bottom: 100px;
}


.pr {
    float: right;
}

@media (max-width: 748px) {

    hr {
        width: 80%;
    }

    #home {
        display: block;
        text-align: center;
        height: 50vh;
        
    }

    #education {
        height: 50%;
    }

    #footer {
        height: 15vh;
    }

    .edu1 {
        display: block;
        height: 90vh;
        padding-top: 10px;
    }

    .school-logo {
        height: 120px;
        width: 150px;
        margin-top: 50px;
    }

    .edu-table {
        width: 50%;
        height: 30%;
        margin-top: 50px;
        margin-bottom: 100px;
        padding-left: 8%;
        text-align: center;
    }

    ul {
        text-align: left;
    }

    #about-me {
        height: 300px;
        margin-bottom: 50px;
    }

    .profile-pic {
        margin-top: 50px;
        height: 150px;
        width: 200px;
    }
}


.gradient-background {
    background: linear-gradient(280deg, #FFC82D , #0051BA, #E8000D, #85898A);
    background-size: 180% 180%;
    animation: gradient-animation 20s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }